.dice {
   position: relative;
   transform-style: preserve-3d;
   transform-style: preserve-3d;
   transform: rotateX(25deg) rotateY(35deg);
}

.face {
   position: absolute;
   color: goldenrod;
   width: 100%;
   height: 100%;
   background: white;
   border: 2px solid #222;
   display: grid;
   place-items: center;
   font-size: 32px;
   font-weight: bold;
   backface-visibility: hidden;
   opacity: 0.8;
}

/* Seiten */
.front {
   color: goldenrod;
   background: white;
   transform: rotateY(0deg) translateZ(32px);
}

.back {
   color: goldenrod;
   background: white;
   transform: rotateY(180deg) translateZ(32px);
}

.right {
   color: goldenrod;
   background: white;
   transform: rotateY(90deg) translateZ(32px);
}

.left {
   color: goldenrod;
   background: white;
   transform: rotateY(-90deg) translateZ(32px);
}

.top {
   color: goldenrod;
   background: white;
   transform: rotateX(90deg) translateZ(32px);
}

.bottom {
   color: goldenrod;
   background: white;
   transform: rotateX(-90deg) translateZ(32px);
}

/* Roll-Animation */
@keyframes roll {
   to {
      transform: rotateX(720deg) rotateY(540deg);
   }
}

.roll {
   animation: roll 1s cubic-bezier(.25, .8, .25, 1);
}

/* Zielseiten */
.show-1 {
   color: goldenrod;
   transform: rotateX(0) rotateY(0);
}

.show-2 {
   color: goldenrod;
   transform: rotateX(90deg);
}

.show-3 {
   color: goldenrod;
   transform: rotateY(-90deg);
}

.show-4 {
   color: goldenrod;
   transform: rotateY(90deg);
}

.show-5 {
   color: goldenrod;
   transform: rotateX(-90deg);
}

.show-6 {
   color: goldenrod;
   transform: rotateY(180deg);
}