.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(40, 45, 60, 0.95);
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  background-color: rgba(140, 145, 160, 0.95);
  min-height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: darkslategrey;
}

.App-main-red {
  background-color: rgba(100, 10, 10, 0.9);
  min-height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(200, 200, 200);
}

.App-footer {
  background-color: rgba(40, 45, 60, 0.85);
  min-height: fit-content;
  
  display: flow-root;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /* font-size: calc(10px + 2vmin); */
  font-size: 25px;
  color: white;
}

/* .App-bar {
  background-color: rgba(40, 45, 60, 0.95);
  position: 'fixed'; 
  'relative': AppBar moves with the rest of the page
} */

.App-link {
  color: rgba(255, 255, 255, 0.5);
}

.AppContainer {
  background-color: rgba(200, 0, 100, 0.5);

  /* background-color: color-mix(white, blue);  // errs */

  padding: 20px;
  border-radius: 5px;

  /* display: grid; */
  /* min-width: 800px; */
}

/* .Usrinput-main {
  background-color: rgba(140, 145, 160, 0.95);
  min-height: 500px;
} */